<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Job Scrapper</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>
	</head>

	<body>
		<!-- The part of the Title on the page -->

		<div class="container">
			<div class="content">
				<h1 class="title">RemoteJobSearcher</h1>
				<form class="search" action="/report" method="get">
					<div class="content">
						<input
							type="text"
							placeholder="
  search for a job"
							required
							name="word"
						/>
					</div>
					<div class="content">
						<button class="submit">Search</button>
					</div>
				</form>
			</div>
		</div>

		<!-- The part of the Job Lists on the page -->

		{% if jobs %}
		<div class="container-jobs">
			<div class="content-jobs">
				<h1>Search Results</h1>
			</div>
			<div class="content-jobs">
				<h3>
					Found
					<span class="resultsNumber">{{resultsNumber}}</span> results
					for: <span class="searchingBy">{{searchingBy}}</span>
				</h3>
			</div>
			<div class="content-jobs end">
				<a class="export" href="/export?word={{searchingBy}}"
					>Export to CSV</a
				>
			</div>
			<div class="jobs">
				{% for job in jobs %}
				<div class="card">
					<div class="card-inside">
						<span class="title">{{job.title}}</span>
						<span class="company">{{job.company}}</span>
					</div>

					<button>
						<a href="{{job.link}}" target="_blank">Apply</a>
					</button>
				</div>
				{% endfor%}
			</div>
		</div>
		{% endif %}
	</body>
</html>
