<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RemoteJobSearcher</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		/>
	</head>

	<body>
		<!-- The part of the Title on the page -->

		<div class="container">
			<div class="ui secondary header menu">
				<h2 class="item">RemoteJobSearcher</h2>
			</div>
			<img
				class="ui centered huge image"
				src="/static/images/img1/13038.jpg"
				alt="main logo"
			/>

			<h1 class="ui center aligned header">
				Let's find your future job for that now!
			</h1>

			<form
				class="ui form"
				style="padding-top: 1em"
				action="/report"
				method="get"
			>
				<div class="flex">
					<div class="ui input focus">
						<input
							type="text"
							placeholder="search for a job"
							required
							name="word"
						/>
					</div>
					<button class="ui button" type="submit">Search</button>
				</div>
			</form>
		</div>

		<div class="container">
			<div class="content"></div>
		</div>

		<!-- The part of the Job Lists on the page -->

		{% if jobs %}
		<div class="container-jobs">
			<div class="content-jobs">
				<h1>Search Results</h1>
			</div>
			<div class="content-jobs">
				<h3>
					Found
					<span class="resultsNumber">{{resultsNumber}}</span> results
					for: <span class="searchingBy">{{searchingBy}}</span>
				</h3>
			</div>
			<div class="content-jobs end">
				<a class="export" href="/export?word={{searchingBy}}"
					>Export to CSV</a
				>
			</div>
			<div class="jobs">
				{% for job in jobs %}
				<div class="card">
					<div class="card-inside">
						<span class="title">{{job.title}}</span>
						<span class="company">{{job.company}}</span>
					</div>

					<button>
						<a href="{{job.link}}" target="_blank">Apply</a>
					</button>
				</div>
				{% endfor%}
			</div>
		</div>
		{% endif %}

		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</body>
</html>
